:root {
    /* 
        Colors
    */
    --primary-180: #A3D7B5;
    --primary-360: #7DD29B;
    --primary-540-def: #31BE62;
    --primary-720: #278448;
    --primary-900: #2E6440;

    --seconday-180: #F0F0F2;
    --seconday-360: #EAEAEE;
    --seconday-540-def: #DEDEE3;
    --seconday-720: #D0D0D9;
    --seconday-900: #C0C0CC;

    --accent-180: #7A9CBE;
    --accent-360: #5C8AB8;
    --accent-540-def: #3A70A6;
    --accent-720: #2F5C8A;
    --accent-900: #24476A;

    --white: #FFFFFF;
    --black: #000000;

    --neutral-100: #F5F5F5;
    --neutral-200: #DCDCDC;
    --neutral-300: #C3C3C3;
    --neutral-400: #ABABAB;
    --neutral-500: #979797;
    --neutral-600: #8B8B8B;
    --neutral-700: #606060;
    --neutral-800: #484848;
    --neutral-900: #2F2F2F;
    --neutral-1000: #161616;

    --state-success: #7EFA8A;
    --state-warning: #F0FA7E;
    --state-danger: #FE5D6D;

    /* 
        Spacing
    */
    --spacing-0: 0;
    --spacing-1: .25rem;
    --spacing-2: .5rem;
    --spacing-3: .75rem;
    --spacing-4: 1rem;
    --spacing-5: 1.5rem;
    --spacing-6: 2rem;

    /* 
        Border Radius
    */
    --radius-0: 0;
    --radius-1: .25rem;
    --radius-2: .5rem;
    --radius-3: 1rem;
    --radius-round: 9999px;
    
    /* 
        Border sizes
    */
    --border-size-1: 1px;
    --border-size-2: 2px;
    --border-size-3: 3px;
    --border-size-4: 4px;
    --border-size-5: 10px;
    --border-size-6: 25px;

    /* 
        Font weight
    */
    --font-weight-1: 100;
    --font-weight-2: 200;
    --font-weight-3: 300;
    --font-weight-4: 400;
    --font-weight-5: 500;
    --font-weight-6: 600;
    --font-weight-7: 700;
    --font-weight-8: 800;
    --font-weight-9: 900;

    /* 
        Letter spacing
    */
    --font-letterspacing-0: -.05rem;
    --font-letterspacing-1: .025rem;
    --font-letterspacing-2: .05rem;
    --font-letterspacing-3: .075rem;
    --font-letterspacing-4: .15rem;
    --font-letterspacing-5: .5rem;
    --font-letterspacing-6: .75rem;
    --font-letterspacing-7: 1rem;

    /* 
        Line height
    */
    --font-lineheight-0: .95;
    --font-lineheight-1: 1.1;
    --font-lineheight-2: 1.25;
    --font-lineheight-3: 1.375;
    --font-lineheight-4: 1.5;
    --font-lineheight-5: 1.75;
    --font-lineheight-6: 2;

    /* 
        Fixed font sizes
    */
    --font-size-0: .75rem;
    --font-size-1: 1rem;
    --font-size-2: 1.1rem;
    --font-size-3: 1.25rem;
    --font-size-4: 1.5rem;
    --font-size-5: 2rem;
    --font-size-6: 2.5rem;
    --font-size-7: 3rem;
    --font-size-8: 3.5rem;

    /* 
        Fluid font sizes
    */
    --font-size-fluid-small: clamp(var(--font-size-0), 1.5vw, var(--font-size-2));
    --font-size-fluid-paragraph: clamp(var(--font-size-2), 2vw, var(--font-size-3));
    --font-size-fluid-heading: clamp(var(--font-size-4), 3vw, var(--font-size-6));
    --font-size-fluid-display: clamp(var(--font-size-5), 4vw, var(--font-size-8));

    /* 
        Opacity
    */
    --alpha-10: .1;
    --alpha-25: .25;
    --alpha-50: .5;
    --alpha-75: .75;
    --alpha-100: 1;
}