.listTransactionsTable {
	/* Variables */
	--table-gap: var(--spacing-4);

	/* Styles */
	gap: var(--table-gap);

	display: flex;
	flex-direction: column;
}

.searchContainer {
	/* Variables */
	--container-gap: var(--spacing-4);

	/* Styles */
	gap: var(--container-gap);

	display: flex;
}

.searchContainer > * {
	width: 300px;
}

.searchContainer > select {
	background-color: white;
	padding: var(--spacing-2);
	font-size: var(--font-size-3);
	border-radius: var(--radius-1);
	border: 2px solid var(--neutral-300);
}

.paginationContainer {
	display: flex;
	justify-content: center;
	list-style: none;
	padding: 0;
}

.paginationItem {
	margin: 0 5px;
	cursor: pointer;
	border: 1px solid #ccc;
	padding: 5px 10px;
	border-radius: 5px;
}

.paginationNext {
	display: inline-block;
	cursor: pointer;
	border: 1px solid #ccc;
	padding: 5px 10px;
	border-radius: 5px;
}

.paginationPrevious {
	display: inline-block;
	cursor: pointer;
	border: 1px solid #ccc;
	padding: 5px 10px;
	border-radius: 5px;
}

.paginationActive {
	background-color: var(--primary-360);
	color: #fff;
}  