.passwordInput, .passwordInput__wrapper {
	/* Variables */
	--max-width: 600px;
	--min-width: 300px;

	/* Style */
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	min-width: var(--min-width);
	width: max(var(--min-width), 100%);
	max-width: var(--max-width);
}

.passwordInput__input {
	/* Variables */
	--border-radius: var(--radius-1);
	--block-spacing: var(--spacing-2);
	--inline-spacing: var(--spacing-3);
	--input-background: var(--white);
	--input-border: var(--neutral-300);

	/* Style */
	padding: var(--block-spacing) var(--inline-spacing);
	border-radius: var(--border-radius);
	border: 2px solid var(--input-border);
	outline: none;
	transition: all .2s linear;
}

.passwordInput__input.--valid {
	/* Variables */
	--input-border: var(--state-success);
}

.passwordInput__input.--invalid {
	/* Variables */
	--input-border: var(--state-danger);
}

.passwordInput__label {
	/* Variables */
	--input-label: var(--neutral-900);

	/* Style */
	color: var(--input-label);
}

.passwordInput__hint {
	/* Variables */
	--input-hint: var(--neutral-600);

	/* Style */
	color: var(--input-hint);
}

.passwordInput__input.--invalid+.passwordInput__hint {
	/* Variables */
	--input-hint: var(--state-danger);
}