.passwordInput__wrapper {
	/* Style */
	position: relative;
}

.passwordInput, .passwordInput__wrapper {
	/* Variables */
	--max-width: 600px;
	--min-width: 300px;

	/* Style */
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	min-width: var(--min-width);
	width: max(var(--min-width), 100%);
	max-width: var(--max-width);
}

.passwordInput__input {
	/* Variables */
	--border-radius: var(--radius-1);
	--block-spacing: var(--spacing-2);
	--inline-spacing: var(--spacing-3);
	--input-background: var(--white);
	--input-border: var(--neutral-300);
	--input-font-size: var(--font-size-fluid-paragraph);

	/* Style */
	padding: var(--block-spacing) var(--inline-spacing);
	border-radius: var(--border-radius);
	border: 2px solid var(--input-border);
	outline: none;
	transition: all .2s linear;
	font-size: var(--input-font-size);
}

.passwordInput__input.--valid {
	/* Variables */
	--input-border: var(--state-success);
}

.passwordInput__input.--invalid {
	/* Variables */
	--input-border: var(--state-danger);
}

.passwordInput__label {
	/* Variables */
	--input-label: var(--neutral-900);
	--input-label-size: var(--font-size-fluid-small);

	/* Style */
	color: var(--input-label);
	font-size: var(--input-label-size);
}

.passwordInput__hint {
	/* Variables */
	--input-hint: var(--neutral-600);
	--input-hint-size: var(--font-size-fluid-small);

	/* Style */
	color: var(--input-hint);
	font-size: var(--input-hint-size);
}

.passwordInput__input.--invalid+.passwordInput__hint {
	/* Variables */
	--input-hint: var(--state-danger);
}

.passwordInput__icon {
	/* Variables */
	--input-icon-spacing: var(--spacing-3);

	/* Style */
	position: absolute;
	top: 50%;
	right: var(--input-icon-spacing);
	translate: -50% -50%;
	cursor: pointer;
}