.layout {
    position: relative;
    min-height: 100dvh;
    display: grid;
    align-items: center;
    justify-content: center;
}

.layout svg[class*="auth__layout__background__"],
.layout svg[class*="auth__layout__background__"] {
    /* Variables */
    --background-layer: var(--layer-0);

    /* Styles */
    position: absolute;
    z-index: var(--background-layer);
}

.layout svg[class$="__green"] {
    bottom: 0;
    left: 0;
}

.layout svg[class$="__gray"] {
    top: 0;
    right: 0;
}
