.layout {
    position: relative;
    min-height: 100dvh;
    display: grid;
    align-items: center;
    justify-content: center;
}

.layout svg[class*="auth__layout_background__"],
.layout svg[class*="auth__layout_background__"] {
    position: absolute;
}

.layout svg[class$="__green"] {
    bottom: 0;
    left: 0;
}

.layout svg[class$="__gray"] {
    top: 0;
    right: 0;
}
