.sidebar__wrapper {
	/* Variables */
	--sidebar-wrapper-gap: var(--spacing-6);

	/* Styles */
	position: relative;
	display: flex;
	gap: var(--sidebar-wrapper-gap);
}

.sidebar {
	/* Variables */
	--sidebar-width: 80px;
	--sidebar-height: 100vh;
	--sidebar-radius: var(--radius-2);
	--sidebar-padding: var(--spacing-3);
	--sidebar-background: var(--white);
	--sidebar-border-color: var(--neutral-200);
	--sidebar-gap: var(--spacing-6);
	
	/* Styles */
	width: var(--sidebar-width);
	height: calc(var(--sidebar-height) - var(--spacing-5));
	border-radius: var(--sidebar-radius);
	padding: var(--sidebar-padding);
	background-color: var(--sidebar-background);
	border: 1px solid var(--sidebar-border-color);
	gap: var(--sidebar-gap);

	top: var(--sidebar-padding);
	position: sticky;
	display: flex;
	flex-direction: column;
	box-shadow: 0 0 8px rgba(0, 0, 0, .15);
	transition: width .1s linear;
}

.sidebar.--open {
	/* Variables */
	--sidebar-width: 300px;
}

.sidebar.--closed {
	/* Variables */
	--sidebar-width: 80px;
}

.sidebar__close {
	/* Variables */
	--button-size: 24px;
	--button-background: var(--primary-540-def);	
	--button-radius: var(--radius-round);
	--button-content-size: var(--font-size-2);

	/* Styles */
	width: var(--button-size);
	height: var(--button-size);
	background-color: var(--button-background);
	border-radius: var(--button-radius);
	font-size: var(--button-content-size);

	position: absolute;
	top: calc(0% + var(--button-size) / 2);
	right: calc(0% - var(--button-size) / 2);
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	transition: background .1s linear;

	border: none;
	outline: none;
}

.sidebar__close:hover {
	/* Variables */
	--button-background: var(--primary-720);
}

.sidebar__close:active {
	/* Variables */
	--button-background: var(--primary-900);
}

.sidebar__profile {
	/* Variables */
	--profile-gap: var(--spacing-3);


	/* Styles */
	display: flex;
	align-items: center;
	gap: var(--profile-gap);
	width: 100%;
}

.sidebar__profile__icon {
	/* Variables */
	--icon-size: 55px;
	--icon-background: var(--primary-180);
	--icon-text: var(--white);
	--icon-radius: var(--radius-1);
	--icon-font-size: var(--font-size-4);

	/* Styles */
	width: var(--icon-size);
	height: var(--icon-size);
	background-color: var(--icon-background);
	color: var(--icon-text);
	border-radius: var(--icon-radius);
	font-size: var(--icon-font-size);

	display: flex;
	justify-content: center;
	align-items: center;
}

.sidebar__profile__info {
	/* Variables */

	/* Styles */
	display: flex;
	flex-direction: column;
	text-decoration: none;
}

.sidebar__profile__info span:nth-child(1) {
	/* Variables */
	--profile-font-size: var(--font-size-0);
	--profile-font-color: var(--black);

	/* Styles */
	font-size: var(--profile-font-size);
	color: var(--profile-font-color);
	text-decoration: underline;
}

.sidebar__profile__info span:nth-child(2) {
	/* Variables */
	--profile-font-size: var(--font-size-1);
	--profile-font-color: var(--black);

	/* Styles */
	font-size: var(--profile-font-size);
	color: var(--profile-font-color);
}

.sidebar__navigation {
	/* Variables */
	--navigation-gap: var(--spacing-3);

	/* Styles */
	display: flex;
	flex-direction: column;
	gap: var(--navigation-gap);
	height: 100%;
}

.sidebar__navigation a {
	/* Variables */
	--navigation-item-font-size: var(--font-size-3);
	--navigation-item-font-color: var(--black);
	--navigation-item-padding-block: var(--spacing-3);
	--navigation-item-padding-inline: var(--spacing-4);
	--navigation-item-radius: var(--radius-1);
	--navigation-item-background: var(--white);
	--navigation-item-border-color: transparent;

	/* Styles */
	font-size: var(--navigation-item-font-size);
	color: var(--navigation-item-font-color);
	padding-block: var(--navigation-item-padding-block);
	padding-inline: var(--navigation-item-padding-inline);
	border-radius: var(--navigation-item-radius);
	background-color: var(--navigation-item-background);
	
	display: flex;
	align-items: center;
	gap: var(--navigation-gap);
	min-height: 48px;
	text-decoration: none;
	transition: all .1s linear;
	border: 1px solid var(--navigation-item-border-color);
}

.sidebar__navigation a:not(:last-child):hover {
	/* Variables */
	--navigation-item-background: var(--neutral-100);
	--navigation-item-font-color: var(--primary-540-def);
	--navigation-item-border-color: var(--neutral-200);
}

.sidebar__navigation a:not(:last-child):active {
	/* Variables */
	--navigation-item-background: var(--neutral-200);
}

.sidebar__navigation :last-child {
	/* Variables */
	--navigation-item-font-color: var(--state-danger);

	/* Styles */
	margin-top: auto;
}

.sidebar__sub {
	/* Variables */
	--sidebar-sub-height: 100vh;
	--sidebar-sub-width: 230px;
	--sidebar-sub-gap: var(--spacing-3);
	--sidebar-sub-border-color: var(--neutral-200);
	--sidebar-sub-padding: var(--spacing-2);

	/* Styles */
	height: calc(var(--sidebar-sub-height) - var(--spacing-5));
	width: var(--sidebar-sub-width);
	gap: var(--sidebar-sub-gap);
	padding-inline: 0 var(--sidebar-sub-padding);

	top: var(--sidebar-sub-gap);
	position: sticky;
	display: flex;
	flex-direction: column;
	border-right: 1px solid var(--sidebar-sub-border-color);
}

.sidebar__sub a {
	/* Variables */
	--sidebar-sub-item-gap: var(--spacing-3);
	--sidebar-sub-item-color: var(--black);
	--sidebar-sub-item-font-size: var(--font-size-1);
	--sidebar-sub-item-radius: var(--radius-1);
	--sidebar-sub-item-background: transparent;
	--sidebar-sub-item-padding: var(--spacing-1);
	--sidebar-sub-item-border-color: transparent;

	/* Styles */
	font-size: var(--sidebar-sub-item-font-size);
	color: var(--sidebar-sub-item-color);
	border-radius: var(--sidebar-sub-item-radius);
	background-color: var(--sidebar-sub-item-background);
	padding: var(--sidebar-sub-item-padding);
	border: 1px solid var(--sidebar-sub-item-border-color);

	display: flex;
	align-items: center;
	gap: var(--sidebar-sub-item-gap);
	text-decoration: none;
}

.sidebar__sub a:hover {
	/* Variables */
	--sidebar-sub-item-background: var(--white);
	--sidebar-sub-item-border-color: var(--neutral-200);
}