.button {
    /* Variables */
    --min-width: 300px;
    --max-width: 600px;
    --button-background: var(--primary-540-def);
    --block-spacing: var(--spacing-2);
    --inline-spacing: var(--spacing-3);
    --button-radius: var(--radius-1);
    --button-font-size: var(--font-size-2);
    --button-gap: var(--spacing-3);

    /* Style */
    display: flex;
    gap: var(--button-gap);
    align-items: center;
    justify-content: center;
    min-width: var(--min-width);
    width: max(var(--min-width), 100%);
    max-width: var(--max-width);
    padding: var(--block-spacing) var(--inline-spacing);
    background-color: var(--button-background);
    border-radius: var(--button-radius);
    font-size: var(--button-font-size);
    border: none;
    cursor: pointer;
    outline: none;
    transition: background-color .1s linear;
}

.button:hover {
    /* Variables */
    --button-background: var(--primary-720);
}

.button:active {
    /* Variables */
    --button-background: var(--primary-900);
}

.button:disabled {
    /* Variables */
    --button-background: var(--primary-360);

    /* Style */
    cursor: default;
}

.button__icon__loading {
    /* Style */
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}