.layout {
    position: relative;
    min-height: 100dvh;
}

svg[class*="createUser__layout_background__"],
svg[class*="createUser__layout_background__"] {
    position: absolute;
}

svg[class$="__green"] {
    bottom: -3.0rem;
    left: -4.0rem;
    z-index: -1;
    scale: 70%;
}

svg[class$="__gray"] {
    left:-4.0rem;
    top: -4.0rem;
    transform: scaleX(-1);
    scale: 70%;
    z-index: -1;
}
