.layout {
    position: relative;
    min-height: 100dvh;
}

svg[class*="createUser__layout_background__"],
svg[class*="createUser__layout_background__"] {
    position: absolute;
}

svg[class$="__green"] {
    bottom:0;
    left: 0;
}

svg[class$="__gray"] {
    right:0;
    top: 0;
    
}
