.textInput {
    /* Variables */
    --max-width: 600px;
    --min-width: 300px;
    
    /* Style */
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: max(var(--min-width), min(100%, var(--max-width)));
}

.textInput__input {
    /* Variables */
    --border-radius: var(--radius-1);
    --block-spacing: var(--spacing-2);
    --inline-spacing: var(--spacing-3);
    --input-background: var(--white);
    --input-border: var(--neutral-300);
    --input-font-size: var(--font-size-fluid-paragraph);

    /* Style */
    padding: var(--block-spacing) var(--inline-spacing);
    border-radius: var(--border-radius);
    border: 2px solid var(--input-border);
    outline: none;
    transition: all .2s linear;
    font-size: var(--input-font-size);
}

.textInput__input:focus {
    /* Variables */

    /* Style */
    outline: auto;
}

.textInput__input.--invalid {
    /* Variables */
    --input-border: var(--state-danger);
}

.textInput__label {
    /* Variables */
    --input-label: var(--neutral-900);
    --input-label-size: var(--font-size-fluid-small);
    --input-label-gap: var(--spacing-2);

    /* Style */
    display: flex;
    align-items: center;
    gap: var(--input-label-gap);
    color: var(--input-label);
    font-size: var(--input-label-size);
}

.textInput__icon {
    /* Variables */
    --icon-color: var(--state-success);
    --icon-size: var(--font-size-3);

    /* Style */
    color: var(--icon-color);
    font-size: var(--icon-size);
    animation: showIcon .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.textInput__hint {
    /* Variables */
    --input-hint: var(--neutral-600);
    --input-hint-size: var(--font-size-fluid-small);

    /* Style */
    color: var(--input-hint);
    font-size: var(--input-hint-size);
}

.textInput__input.--invalid + .textInput__hint {
    /* Variables */
    --input-hint: var(--state-danger);
}

.textInput__input:disabled {
    /* Variables */
    --input-background: var(--neutral-200);
    --input-border: var(--neutral-200);

    /* Style */
    background-color: var(--input-background);
    cursor: not-allowed;
}

.textInput__error {
    /* Variables */
    --input-error: var(--state-danger);

    /* Style */
    color: var(--input-error);
}

@keyframes showIcon {
    0% {
        opacity: 0;
        scale: 0;
    }
    100% {
        opacity: 1;
        scale: 1;
    }
}